*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial;
}

#oval{
    background-color: #2D2493;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 450px;
    border-radius: 50%;
    clear: both;



}
#image1{
    height: 1000px;
    background-image: url('imagem12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    

}

#text1{
    text-align: center;
    color: white;

}

#TF{

    margin-left: 5%;

}

#HUB{

    margin-left: 7%;
    margin-bottom: 3%;
    margin-top: -22px;
    
}

#MENU{
    margin-left: -18%;
    margin-top: 50px;
    margin-bottom: -28px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-image: url(logomenu.jpg);
    background-size: 100%;
}

#MENUTEXTO{
    margin-left: -15%;
    background-size: 100%;
    font-size: 20px;
}

#ATF{
    margin-left: 90px;
    margin-top: -22px;
}

#CLIENTES{
    margin-left: 25%;
    margin-top: -22px;
}

#CONTATO{
    margin-left: 40%;
    margin-top: -22px;
}

#ENTRE{
    margin-left: 55%;
    margin-top: -22px;
}

#CADASTRE{
    margin-left: 62%;
    margin-top: -22px;
}

#GIF{

    background-image: url(TFGIF_AdobeExpress.gif);
    background-size: 100%;
    width: 1050px;
    height: 1000px;
    background-repeat: no-repeat;
    margin-right: 50%;
    margin-left: 15%;
}

#FACEBOOK{
    width: 100px;
    height: 100px;
    background-image: url('facebook.png');
    background-size: 100%;
    background-repeat: no-repeat;
    



}

#LINKFACEBOOK{
    
    background-repeat: no-repeat;
    margin-left: 80%;
    margin-top: -39px;
    
}

#INSTAGRAM{
    width: 100px;
    height: 100px;
    background-image: url('instagram.png');
    background-size: 100%;
    background-repeat: no-repeat;
    


}

#LINKINSTAGRAM{
    
    background-repeat: no-repeat;
    margin-left: 85%;
    margin-top: -99px;

    
}
.container{
    width: 960px;
    margin: auto;
}

.cortexto{
    color: #19277F;
}
