* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial;
}

#oval {
    background-color: #2D2493;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 450px;
    border-radius: 50%;
    clear: both;



}

#image1 {
    height: 1000px;
    background-image: url('imagem12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

#text1 {
    text-align: center;
    color: white;

}

#TF {

    margin-left: 5%;

}

#HUB {

    margin-left: 7%;
    margin-bottom: 3%;
    margin-top: -22px;

}

#MENU {
    margin-left: -18%;
    margin-top: 50px;
    margin-bottom: -28px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-image: url(logomenu.jpg);
    background-size: 100%;
}

#MENUTEXTO {
    margin-left: -15%;
    background-size: 100%;
    font-size: 20px;
}

#ATF {
    margin-left: 90px;
    margin-top: -22px;
}

#CLIENTES {
    margin-left: 25%;
    margin-top: -22px;
}

#CONTATO {
    margin-left: 40%;
    margin-top: -22px;
}

#ENTRE {
    margin-left: 55%;
    margin-top: -22px;
}

#CADASTRE {
    margin-left: 62%;
    margin-top: -22px;
}

#GIF {

    background-image: url(TFGIF_AdobeExpress.gif);
    background-size: 100%;
    width: 1050px;
    height: 1000px;
    background-repeat: no-repeat;
    margin-right: 50%;
    margin-left: 15%;
}

#FACEBOOK {
    width: 100px;
    height: 100px;
    background-image: url('facebook.png');
    background-size: 100%;
    background-repeat: no-repeat;




}

#LINKFACEBOOK {

    background-repeat: no-repeat;
    margin-left: 79%;
    margin-top: -39px;
    margin-right: 50px;


}

#INSTAGRAM {
    width: 100px;
    height: 100px;
    background-image: url('instagram.png');
    background-size: 100%;
    background-repeat: no-repeat;



}

#LINKINSTAGRAM {

    background-repeat: no-repeat;
    margin-left: 85.3%;
    margin-top: -99px;
    margin-right: 50px;

}

#MI {


    margin-top: -30%;
    margin-left: -10%;
    float: left;
    font-size: 60px;
}

#MAIS {

    margin-top: -33%;
    margin-left: -17%;
    float: left;
    font-size: 90px;

}

#MAIS1 {

    margin-top: -33%;
    margin-left: 20%;
    float: left;
    font-size: 90px;

}

#text2 {
    margin-top: -20%;
    margin-left: -10%;
    text-align: right;
    float: left;
    font-size: 30px;

}

#text3 {
    margin-top: -17%;
    margin-left: -15%;
    text-align: center;
    float: left;
    font-size: 30px;

}

.container {
    width: 960px;
    margin: auto;
}

.cortexto {
    color: #19277F;
}

.cormais {
    color: #38B6FF;
}